<div class="page-header">
<h1>Log In</h1>
</div>

<div class="well well-large">

<%= form_tag sessions_path do %>
  <div class="field">
    <%= text_field_tag :email, params[:email], placeholder: 'email' %>
  </div>
  <div class="field">
    <%= password_field_tag :password, placeholder: 'x' %>
  </div>
  <div class="actions"><%= submit_tag "Log In" , class: 'btn btn-info'%> or <%= link_to "Sign Up", new_user_path%> </div> 
<% end %>
</div>