<div class="sort_links">

		<div class="page-header">
       <h1>Search for some photos</h1>
      </div>
	

	<b> Most popular | </b><%= link_to "Newest", "paintings/newest" %>
	</div>
	
	<div class="general_output">
	There are <%= Painting.count %> total photos found in the database.
</div>

<%= form_tag paintings_path, :method => 'get', :id => "paintings_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search",class: 'btn btn-info', :name => nil %>
  </p>
 
<% end %>

<% @paintings.each do |painting| %>

<%= link_to painting_path(painting) do %>	
<div class="span4">
	<div class="img-polaroid">

<%= image_tag painting.image_url(:thumb) if painting.image? %>
</div>
	</div>
<%end%>
    
<% end %>