<h1>Listing paintings</h1>

<table class="table table-striped"">
  <tr>
    <th>Name</th>
    <th>User ID</th>
    <th>Show</th>
    <th>Edit</th>
	<th>Destroy</th>
  </tr>

<% @paintings.each do |painting| %>
  <tr>
    <td><%= painting.name %></td>
    <td><%= painting.user_id %></td>
    <td><%= link_to 'Show', painting %></td>
    
    
<%# if current_user.id = painting.user %>
	<td><%= link_to 'Edit', edit_painting_path(painting) %></td>
	<td><%= link_to 'Destroy', painting, method: :delete  %></td>
    <%#end%>
	
  </tr>
<%end%>
	
</table>


<br />
<div class="btn">
<%= link_to 'New Painting', new_painting_path %>
</div>