<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @painting.name %>
</p>
<p> <b> Downloads </b> 
<%= @painting.downloads %></p>


  <b>User: <%= @painting.user_id %></b>
 <p> <%= image_tag @painting.image_url(:thumblarge) if @painting.image? %> </p>


<p><%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %></p>

<%= link_to 'Download', "/paintings/#{@painting.id}/download", class:'btn btn-large btn-success',type:'button' %>
