<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @painting.name %>
</p>


  <b>User: <%= @painting.user_id %></b>
 <p> <%= image_tag @painting.image_url(:thumblarge) if @painting.image? %> </p>


<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %> |
<%= link_to 'Download', :send_file => @painting.image_url %>
